* Pluto Regular */
@font-face {
font-family: 'Pluto';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://1martinduke.github.io/sac-sbg.github.io/PlutoMedium.otf) format('opentype');
}